body {
    background-color: rgba(217, 240, 230, 0.719);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    width:270px;
    margin-top:50px;
}

@media (max-width:770px) {
    .container {
        margin:0 10%;
    }
    .image {
        width: 100%;
    }
}